# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\JulianDavid\Desktop\Andes\Semestre VIII\Desarrollo de soluciones Cloud\Proyecto 0\Proyecto0_Cloud\proyect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
